/*
html, body, #container { height: 100%; }
body > #container { width: 400px; margin: auto; height: auto; min-height: 100%; }


#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 8em;
 margin-top: -8em;
}

#content { padding-bottom: 8em; }

.center-text { text-align: center;  }
.big-text { font-size: 46px;  }
.bold-text { font-weight: bold;  }
.green-text { color: green;  }
*/
.center-text { text-align: center;  }

@font-face
{
  font-family: ourfont;
  src: url('../KGTheLastTimeBubble.ttf')
}

h1 {
  background-image: url("../img/broom.png");
  /*padding-left: 40px;*/
  font-family: ourfont;
  text-align: left;
  color: green;
}
